<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html">
        <title>Humble</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"> 
        <link rel="stylesheet" href="css/general.css">
        <link rel="stylesheet" href="css/sign-in.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/flaticon.css">
        
        <script src="js/jquery-1.10.2.min.js"></script> 
        <script src="js/pagination.js"></script> 
        <!-- <script src="js/sign-in.js"></script> -->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="main-container">
            <div class="left-column">
                <div class="logo">
                    <img src="images/logo.png">
                </div>
                <div class="sign-in-form">
                    <form action="/api/login" method="post">
                        <input type="text" class="sign-in-input" placeholder="Логин" id="login" name="username">
                        <input type="password" class="sign-in-input" placeholder="Пароль" id="password" name="password">
                        <input type="submit" value="Вход" class="sign-in-input-button"/>
                    </form>
                </div>
                <div class="information-block">
                    <span>Политика конфиденциальности</span>
                </div>
            </div>
            <div class="right-column">
                <div class="top-buttons">
                    <a href="sign-up" class="sign-up">Регистрация</a>
                    <a class="download-app">Скачать приложение</a>
                </div>
                <div class="app-description">
                    <h2 id="app-description-1">Тысячи пользователей по всему миру готовы начать с тобой общаться!</h2>
                </div>
                <div class="app-presentation">
                    <img id="phone-image-1" src="images/phone-image-1.png">
                </div>
                <div class="pagination">
                    <div class="pagination-circles">
                        <ul>
                            <li id="pagination-1" class="active-pagination"></li>
                            <li id="pagination-2"></li>
                            <li id="pagination-3"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>