<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html">
        <title>Регистрация - Humble</title>
        <meta name="description" content="Уникальная платформа обмена мгновенными сообщениями! Главная фишка проекта - Анонимные сообщения, которые открывают огромные возможности для общения на разные жизненные темы.">
        <meta name="keywords" content="Анонимный чат, анонимная беседа, общаться анонимно, закрытые диалоги, анонимные диалоги, Humble, Хамбл, мгновенные сообщения, анонимные сообщения, анонимный мессенджер, anonymous chat, anonim chat, anon chat">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"> 
        <link rel="stylesheet" href="css/general.css">
        <link rel="stylesheet" href="css/sign-up.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/flaticon.css">
        
        <script src="js/jquery-1.10.2.min.js"></script> 
        <script src="js/pagination.js"></script>
        <script src="js/validation.js"></script>
        <script src="js/registration.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="main-container">
            <div class="left-column">
                <div class="logo">
                    <img src="images/logo.png">
                </div>
                <div class="sign-in-form">
                    <input type="text" class="sign-in-input" placeholder="Логин">
                    <input type="password" class="sign-in-input" placeholder="Пароль">
                    <div class="sign-in-input-button">Вход</div>
                </div>
                <div class="information-block">
                    <span>Политика конфиденциальности</span>
                </div>
            </div>
            <div class="right-column">
                <div class="top-buttons">
                    <a class="sign-up" href="sign-in">Главная</a>
                    <a class="download-app">Скачать приложение</a>
                </div>
                <div class="sign-up-title">
                    <h2>...еще пару шагов и Вы с нами!</h2>
                </div>
                <div class="sign-up-container">
                    <div class="full-name">
                        <h3>Ваше полное имя:</h3>
                        <input type="text" class="sign-up-input" placeholder="Введите Ваше полное имя" id="fullName">
                        <div class="error">
                            <i class="flaticon-error"></i>
                        </div>
                        <div class="success">
                            <i class="flaticon-success"></i>
                        </div>
                    </div>
                    <div class="login">
                        <h3>Ваш новый логин:</h3>
                        <input type="text" class="sign-up-input" placeholder="Введите Ваш новый логин" id="login">
                        <div class="error">
                            <i class="flaticon-error"></i>
                        </div>
                        <div class="success">
                            <i class="flaticon-success"></i>
                        </div>
                        <div class="error-msg"></div>
                    </div>
                    <div class="password">
                        <h3>Придумайте пароль:</h3>
                        <input type="password" class="sign-up-input" placeholder="Введите пароль" id="password">
                        <div class="error">
                            <i class="flaticon-error"></i>
                        </div>
                        <div class="success">
                            <i class="flaticon-success"></i>
                        </div>
                    </div>
                    <div class="email">
                        <h3>Ваш e-mail:</h3>
                        <input type="text" class="sign-up-input" placeholder="Введите ваш email" id="email">
                        <div class="error">
                            <i class="flaticon-error"></i>
                        </div>
                        <div class="success">
                            <i class="flaticon-success"></i>
                        </div>
                    </div>
                    <div class="terms">
                        <div class="checkbox">
                            <input type="checkbox" value="None" id="checkbox" name="check" />
                            <label for="checkbox"></label>
                        </div>
                        <div class="terms-text">Согласен(-на) с <a href="#">условиями</a> пользования</div>
                        <div class="warning">
                            <i class="flaticon-warning"></i>
                        </div>
                    </div>
                    <div class="sign-up-button">
                        <a>Зарегистрироваться</a>
                    </div>
                    <div class="success-feedback">
                        <span>Поздравляем, регистрация прошла успешно!</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>